*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    font-family: 'Fira Sans', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root{
    --blue: #1434E1;
}

body{
    background: #E5E5E5;
}

section{
    padding: 4rem 10%;
}

.heading{
    font-weight: 600;
    font-size: 4rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    padding: 2rem 9%;
}

.btn{
    padding: 1rem 3rem;
    background: transparent;
    color: var(--blue);
    font-size: 1.4rem;
    border-radius: .5rem;
    display: inline-block;
    border: .2rem solid var(--blue);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--blue);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before{
    width: 100%;
    left: 0;
}

.btn:hover{
    color: #fff;
}

.heading0{
    font-weight: bold;
    font-size: 5rem;
}


header nav .logo{
    display: flex;
    align-items: center;
}

header nav .logo i{
    font-size: medium;
}

nav .logo ,.search,.menu-icon{
    cursor: pointer;
}

.home{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: center;
}

.home-left{
    flex: 1 1 20rem;
    top: 10%;
}



.home-left p{
    font-size: 18px;
    color: #222222;
    margin: 7rem 0;
}

.home-left img{
    margin-top: 10rem;
}

.home-right{
    flex: 1 1 35rem;
    overflow: hidden;
}
.home-bg1 img{
    position: relative;
    height: auto;
    width: 100%;
}
.home-bg2 img{
    position: absolute;
    height: auto;
    overflow: hidden;
    /* top: -50%; */
    bottom: 20%;
    left: 36%;
}

.branding-text h1{
    width: 40rem;
    margin: auto;
    flex: 1 1 20rem;
}

.branding-text{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    gap: 5rem;
}
.icon{
    font-size: medium;
    flex: 1 1 -1rem;
}
.icon i{
    margin: 0 1rem;
    cursor: pointer;
}
.icon i:hover{
    color: var(--blue);
}

.branding-img img{
    height: auto;
    width: 100%;
    margin: 3rem auto;
}
.branding-img p{
    font-size: 1.8rem;
    margin: auto;
    text-align: center;
}

.slider{
    width: 100%;
    height: 50vh;
    display: grid;
    place-items: center;
}

.slider-img{
    width: 60%;
    height: 50vh;
    background-image: url(image/slider1.png);
    background-size: 100% 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    animation: changeimg 7s linear infinite;
}
    @keyframes changeimg {
        0%{
            background-image: url(image/slider4.png);
        }
        25%{
            background-image: url(image/slider1.png);
        }
        50%{
            background-image: url(image/slider3.png);
        }
        75%{
            background-image: url(image/slider4.png);
        }
}   

.slider-text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between;
    place-items: center;
    margin: 4rem 0;
}
.slider-text p{
    color: #222222;
    font-size: 1.8rem;
}

.people{
    width: 10rem;
    height: auto;
    border-radius: 50%;
}

.section2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}
.s2-img{
    flex: 1 1 40rem;
}
.s2-text{
    flex: 1 1 40rem;
}
.people-full{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.s2-text p{
    margin: 2rem 0;
    color: #222222;
    font-size: 1.8rem;
}
.people-full p{
    margin: 0 0;
    color: #222222;
    font-size: 2.2rem;
}









@media(max-width: 991px){

    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    .home-bg2 img{
        height: auto;
    }
    .home-left img {
        height: auto;
        width: 100%;
    }
    .branding-text h1{
        overflow: hidden;
    }
    .s2-img img{
        height: auto;
        width: 100%;
    }
    

}
    
@media(max-width: 768px){
    html{
        font-size: 40%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    .home-left img {
        height: auto;
        width: 100%;
    }
    .home{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}


@media(max-width: 450px){

    html{
        font-size: 30%;
    }
    .home-left img {
        height: auto;
        width: 100%;
    }
    
}